.notificationPage {
    background: #2a353e;

    ion-header {
        ion-toolbar {
            --padding-start: 1rem;
            --padding-end: 1rem;

            ion-button {
                font-size: 20px;
            }
        }
    }

    ion-content {
        ion-card {
            margin-bottom: 1rem;
            background: #212932;

            .date {
                color: #cacaca;
            }

            .statusBadge {
                background: #49c1fb;
                border-radius: 20px;
                padding: 2px 10px;
                color: black;
            }

            ion-icon {
                font-size: 24px;
                margin-right: 10px;
            }
        }
    }

    ion-footer {
        --background: transparent;

        .footerLine {
            width: 40%;
            border: 3px solid white;
            border-radius: 10px;
        }
    }
}